<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487552127767-fc2af993qrn1es3th3gqa7m52g0pr708.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487552127767-fc2af993qrn1es3th3gqa7m52g0pr708</string>
	<key>API_KEY</key>
	<string>AIzaSyCvcljvB7oJXkb7ooyz8MvXaUvj9Yd2MYA</string>
	<key>GCM_SENDER_ID</key>
	<string>487552127767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatNotif</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487552127767:ios:d67882d64ec0e621625d52</string>
</dict>
</plist>